* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'name';
    src: url('font/daisy-fillo-graphic/Daisy.otf') format('opentype');
}

body {
    background-image: url(imagem/img1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center center;
}

.imgtop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

.imgtop img {
    height: 600px;
    margin-bottom: 160px;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: top;
    height: 50vh;
    padding-left: 20px;
}

.text h1 {
    color: #c65038;
    font-family: 'name';
    font-size: 70px;
    text-align: left;
    margin-top: -220px;
}

.text1 {
    color: #e2725b;
}

.text p {
    text-align: center;
    padding-top: 10px;
    padding-right: 0px;
    color: #c65038;
    font-size: 35px;
    font-family: 'name';
}

.apresentacao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    padding-top: 80px;
}

.apresentacao p {
    color: #c65038;
    font-family: 'name';
    font-size: 28px;
    text-align: center;
    width: 100%;
    margin-top: -250px;
}

.apresentacao section {
    margin: 20px 40px;
}

.carrosel {
    display: flex;
    gap: 30px 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
}

.carrosel p {
    font-family: Arial, Helvetica, sans-serif;
    color: #c65038;
    font-size: 18px;
    text-align: center;
}

.carrosel section img{
    width: 182px;
}

.carrosel section .festa {
    width: 182px;
    height: 323px;
}

.carrosel section .orla {
    width: 182px;
    height: 323px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.info p {
    color: #e2725b;
    font-size: 50px;
    font-family: 'name';
    padding-left: 10px;
}

.data {
    display: block;
}

.data h2 {
    color: #e2725b;
    font-size: 70px;
    padding-left: 50px;
    padding-bottom: 20px;
}

.data .align {
    padding-left: 3px;
}

.endereco {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
}

.endereco p {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #e2725b;
}

.buttonicon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    height: 250px;
}

.btn {
    border: solid;
    border-color: #c65038;
    padding: 15px 10px;
    border-radius: 15px;
    margin-top: 15px;
}

.icons {
    display: block;
    padding-left: 150px;
}

.icons a {
    text-decoration: none;
}

.icons p {
    color: #e2725b;
    font-size: 30px;
    padding-top: 15px;
}

.icons img {
    height: 60px;
}

.centralizar {
    padding-left: 100px;
}


.confirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin-top: 600px;
}

.textconfirm{
    padding: 0px 0px;
}

.confirm h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #e2725b;
    margin-bottom: 850px;
}

@media(max-width: 1209px) {
    body {
        background-image: url(imagem/img2.jpeg);
        background-position: center center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media(max-width: 1132px) {
    body {
        background-image: url(imagem/fundo1132.png);
    }
}

@media(max-width: 1050px) {

    body{
        background-image: url(imagem/fundo1050.png);
    }

    .buttonicon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 650px;
        padding-right: 150px;
    }

    .centralizar {
        padding-left: 0px;
    }

    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 60px;
    }
    

}

@media(max-width: 1048px) {
    body {
        background-image: url(imagem/imagem1048.png);
        background-position: center center;
    }
}

@media(max-width: 800px) {
    .text h1 {
        font-size: 50px;
    }
}

@media(max-width: 583px) {
    .apresentacao {
        height: 0px;
    }

    .apresentacao section {
        margin: 20px 0px;
    }

    .apresentacao p {
        margin-top: -372px;
    }

    .imgtop img {
        height: 400px;
    }

    .carrosel {
        margin-top: 0px;
    }

    .carrosel p {
        width: 82%;
    }
    .text h1 {
            font-size: 43px;
        }

    .text p {
        font-weight: 38px;
    }

    .icons .pcentral {
        font-size:20px;
    }

    .confirm h2{
        margin-bottom: 1204px;
    }
}

@media(max-width: 400px) {
    body {
        background-image: url(imagem/img1.jpeg);
        background-position: center center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .titulo {
        padding-left: 0px;
    }

    .text h1 {
        font-family: 'name';
        font-size: 23px;
        text-align: center;
    }

    .text p {
        font-size: 15px;
    }

    .apresentacao p {
        font-size: 15px;
    }

    .info p {
        font-family: 'names';
        font-size: 20px;
        padding-left: 25px;
    }

    .data h2 {
        font-size: 28px;
        padding-left: 36px;
    }

    .data .align {
        padding-left: 28px;
    }

    .endereco p {
        font-size: 15px;
    }

    .icons p {
        font-size: 25px;
        width: 280px;
        text-align: center;
    }

    .confirm h2 {
        font-size: 18px;
    }
}